main {
	min-height: calc(100vh - 145px - 56px);
}

footer {
	height: 145px;
}

.j-u {
	height: 30vh;
}

.um-t {
		margin-top: 10vh;
	}

@media (min-width: 1024px) {
	.j-u {
		height: 50vh;
	}

	.um-t {
		margin-top: 10vh;
	}
}
@media (max-width: 768px) {
	.um-t {
		margin-top: 3vh;
	}
}

@media (max-width: 450px) {
	.um-t {
		margin-top: 0vh;
	}
}

nav {
	height: 72px;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

header nav.sticky {
	position: sticky;
	height: 56px;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

nav a.navbar-brand {
	font-size: 1.75rem;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

nav a.brand-custom {
	font-size: 1.25rem;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

@media (max-width: 350px) {
	nav {
		height: 58px;
	}
	header nav.sticky {
		height: 46px;
	}

	nav a.navbar-brand {
		font-size: 1.5rem;
	}
	nav a.brand-custom {
		font-size: 1.25rem;
	}
}

nav img.img-brand {
	width: 56px;
}

nav img.img-custom {
	width: 46px;
}

nav li.nav-item:hover {
	background-color: #b5dcf7;
	border-radius: 10px;
}

.balance {
	position: relative;
	top: 11px;
}

@media (max-width: 991px) {
	nav li.nav-item:hover {
		border-radius: 0;
	}
	nav li.nav-item:last-child:hover {
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
	}
}

.ualert-danger {
	font-size: 18px;
	text-align: center !important;
	background:  !important;
	padding: 5px; color: #721c24 !important;
	border-radius: 10px;
}

.button-login-title {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
	white-space: nowrap;
	line-height: 1.4;
	outline: 0!important;
	box-sizing: border-box;
	border-radius: 2px 4px 4px;
	display: block;
	text-align: center;
	width: 345px;
	box-shadow: inset 0 0 3px rgba(0,0,0,.15),0 1px 2px rgba(255,255,255,.5);
	border-top-color: rgba(255,255,255,.6);
	border-right-color: #2b5782;
	border-left-color: rgba(255,255,255,.2);
	border-width: 1px;
	border-style: solid;
	font-size: 24px;
	font-weight: 100;
	background: #D1E6FF;
	background-image: -webkit-linear-gradient(top,rgba(255,255,255,.7),rgba(255,255,255,.8) 52%,rgba(255,255,255,.1) 50%,rgba(255,255,255,0));
	color: #3A3A3A;
	border-bottom-color: #517da8;
	padding: 3px 23px 10px;
	height: 45px;
}

@media (max-width: 350px) {
	.button-login-title {
		padding: 3px 3px 10px;
	}
}

.text-title {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
	white-space: nowrap;
	line-height: 1.4;
	text-align: center;
	font-size: 22px;
	font-weight: 100;
	color: #3A3A3A;
	outline: 0!important;
	box-sizing: border-box;
	display: block;
	float: left;
}

.logo-title {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
	white-space: nowrap;
	line-height: 1.4;
	text-align: center;
	font-size: 24px;
	font-weight: 100;
	color: #3A3A3A;
	outline: 0!important;
	box-sizing: border-box;
	margin: 1px 0 0;
	padding: 0;
	float: right;
	width: 150px;
	height: 36px;
	background-repeat: no-repeat;
	background-size: 100%;
	display: inline-block;
	vertical-align: bottom;
}

#p_prldr {
	position: fixed;
	left: 0;
	top: 0;
	right:0;
	bottom:0;
	background: #e3f2fd;
	z-index: 3000;
}
 
.contpre small {
	font-size:25px;
}
 
.contpre {
	width: 250px;
	height: 100px;
	position: absolute;
	left: 50%;top: 48%;
	margin-left:-125px;
	margin-top:-75px;
	color: rgba(0, 0, 0, 1);
	font-size:40px;
	letter-spacing:-2px;
	text-align:center;
	line-height:35px;
}
 
#p_prldr .svg_anm {
	position: absolute;
	width: 41px;
	height: 41px;
	
	background-size:41px;    
	margin: -16px 0 0 -16px;
}