{% extends 'base_2.html' %}

{% block content %}
				{% include 'includes/login_card.html' %}
				<div class="card mt-5 col-xl-8 col-lg-8 col-md-8 col-sm-10 col-12 shadow" style="width: 18rem;">
					{% if request.user.is_authenticated and not voted and time < date_ended %}
					<h2 class="mt-3 alert alert-danger text-center">Вы уверены в выборе?</h2>
					{% elif time > date_ended %}
					<h2 class="mt-3 alert alert-danger text-center">Голосование окончено</h2>
					{% endif %}
					<img src="{{ candidat.image.url }}" class="card-img-top mt-2" alt="{{ candidat.name }}">
					<div class="card-body text-dark">
						<h5 class="card-title">{{ candidat.name }}</h5>
						<p class="card-text">{{ candidat.move }}</p>
						{% if request.user.is_authenticated and not voted and time < date_ended %}
						<a href="{{ candidat.get_vote_url }}" class="btn btn-danger btn-block mt-2">Проголосовать</a>
						{% endif %}
						<a href="{% url 'polls:theme_url' theme_id=candidat.theme.id %}" class="btn btn-primary btn-block">Назад</a>
					</div>
				</div>
{% endblock %}
