{% extends 'base_2.html' %}

{% block content %}
	{% if not request.user.is_authenticated %}
	<h2 class="alert alert-light uhead3 mt-3">Чтобы проголосовать, сначала <a href="{% url 'users:auth_url' %}">войдите в аккаунт</a></h2>
	{% endif%}
	<div class="card-columns mt-3">
	{% for theme in themes %}
		<div class="card">
			<img src="{{ theme.image.url }}" class="card-img-top" alt="{{ theme.name }}">
			<div class="card-body text-dark">
				<h5 class="card-title">{{ theme.name }}</h5>
				<p class="card-text">{{ theme.description }}</p>
				<div class="mb-3">
					{% if theme.date_ended > time %}
					<h5 class="card-text">Начало: {{ theme.date_started }}</h5>
					<h5 class="card-text">Окончание: {{ theme.date_ended }}</h5>
					{% else %}
					<h5 class="card-text">Голосование окончено {{ theme.date_ended }}</h5>
					{%endif %}
				</div>
				<a href="{{ theme.get_absolute_url }}" class="btn btn-primary btn-block">Посмотреть</a>
			</div>
		</div>
	{% endfor %}
	</div>
{% endblock %}