{% extends 'base_2.html' %}

{% block content %}
	{% if not request.user.is_authenticated %}
	<h2 class="alert alert-light mx-auto mt-3">Чтобы проголосовать, сначала <a href="{% url 'users:auth_url' %}">войдите в аккаунт</a></h2>
	{% endif %}
	{% if time > date_ended %}
	<h2 class="alert alert-danger mt-3 mx-auto">Голосование окончено</h2>
	{% endif %}
	<div class="card-columns mt-3">
	{% if candidats %}
	{% for candidat in candidats %}
			<div class="card shadow">
				<img src="{{ candidat.image.url }}" class="card-img-top" alt="{{ candidat.name }}">
				<div class="card-body text-dark">
					<h5 class="card-title">{{ candidat.name }}</h5>
					<p class="card-text">{{ candidat.move|truncatewords:15 }}
						{% if candidat.move|length > 60 %}
						<a href="" class="" data-toggle="modal" data-target="#exampleModalScrollable">
							Полностью
						</a>
						<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
							<div class="modal-dialog modal-dialog-scrollable" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalScrollableTitle">{{ candidat.name }}</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										{{ candidat.move }}
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
									</div>
								</div>
							</div>
						</div>
						{% endif %}
					</p>
					<div class="mb-3">
					{% if request.user.is_authenticated and not voted and time < date_ended %}
						<a href="{{ candidat.get_absolute_url }}" class="btn btn-primary btn-block">Проголосовать</a>
					{% endif %}
					</div>
				</div>
			</div>
	{% endfor %}
	{% endif %}
	</div>
{% endblock %}