{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Сайт для проведения онлайн голосований">
	<meta name="author" content="Diamond Team 2020">
	<meta name="keywords" content="голосования, конфендециальность, честность, нефальцифицированность">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="referrer" content="origin"/>
	<link rel="icon" type="image/x-icon" href="{% static 'images/vote.png' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<title>{% block title %}online-voting.ru{% endblock %}</title>
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>
	<div id="p_prldr">
		<div class="contpre">
			<span class="svg_anm"></span>
			<br>Подождите<br>
			<div class="spinner-border" role="status">
			  <span class="sr-only">Loading...</span>
			</div>
			<small>идет загрузка</small>
		</div>
	</div>
	<div class="jumbotron text-center text-light j-u" style="margin-bottom:0; background-image: url({% static 'images/moscow2.jpg' %}); background-size: 100% 100%;">
	  <h1 class="um-t">Выбирайте своё будущее...</h1>
	  <h3>Дистанционно!</h3> 
	</div>
	<header class="header sticky-top">
		<nav class="navbar navbar-expand-lg navbar-light shadow-lg" style="background-color: #e3f2fd;">
			<!-- <div class=""> -->
			<img src="{% static 'images/vote.png' %}" alt="" class="img-brand d-none d-sm-block">
			<a class="navbar-brand" href="#">ONLINE-VOTING.RU</a>
			<!-- </div> -->
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" id="nav-col">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav" style="background-color: #e3f2fd; background-size: cover; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px;">
				<ul class="navbar-nav">
					<li class="nav-item text-center">
						<a class="nav-link" href="{% url 'polls:index_url' %}">Главная</a>
					</li>
					<li class="nav-item text-center">
						<a class="nav-link" href="{% url 'count:index_url' %}">Итоги</a>
					</li>
					{% if not request.user.is_authenticated %}
					<li class="nav-item text-center">
						<a href="{% url 'users:auth_url' %}" class="nav-link">Авторизация</a>
					</li>
					<li class="nav-item text-center">
						<a href="{% url 'users:regist_url' %}" class="nav-link">Регистрация</a>
					</li>
					{% else %}
					<li class="nav-item text-center">
						<a href="{% url 'users:logout_url' %}" class="nav-link">Выход</a>
					</li>
					{% endif %}
					{% if request.user.is_authenticated %}
					<li class="nav-item text-center">
						<a href="#" class="nav-link history" data-toggle="modal" data-target="#history">
							История
						</a>
						<div data-backdrop="false" class="modal fade" id="history" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
							<div class="modal-dialog modal-dialog-scrollable" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalScrollableTitle">История голосов</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body" id="votes_list">
										{% if votes_list %}
										{% for vote in votes_list %}
										{{ vote.date_voted }} - Вы проголосовали за <strong>{{ vote.candidat }}</strong><br>
										{% endfor %}
										{% elif message %}
										{{ message }}
										{% else %}
										Простите, произошла ошибка
										{% endif %}
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
									</div>
								</div>
							</div>
						</div>
					</li>
					{% endif %}
				</ul>
			</div>
		</nav>
	</header>

	<main>
		<section class="container">
			<div class="row justify-content-center">
				{% block breadcrumb %}
				{% endblock %}
				{% block content %}
					Ничего нет на странице. Временные технические неполадки.
				{% endblock %}
			</div>
		</section>
	</main>

	{% if request.user.is_authenticated and request.user.is_superuser %}
	{% block admin %}
	<div class="admin">
		<a href="/admin/" class="btn btn-primary">ADMIN</a>
	</div>
	{% endblock %}
	{% endif %}

	<footer class="mt-5" style="background-color: #e3f2fd;">
		<div class="navbar-brand ml-3 text-lg">COPYRIGHT 2020 Все права <wbr>защищены</div><br>
		<div style="display: inline-block;">
			<div class="ml-3 text-sm">Копирование влечёт за собой уголовную ответственность!</div>
			<div class="ml-3 text-sm">Developed by Diamond Team 2020</div>
		</div>
		<img src="{% static 'images/logo.png' %}" alt="" title="Diamond Team 2020" style="width: 56px; display: inline-block;" class="d-none d-sm-block float-right mr-3">
	</footer>

	<script type="text/javascript">
		$(window).on('load', function () {
		    var $preloader = $('#p_prldr'),
		        $svg_anm   = $preloader.find('.svg_anm');
		    $svg_anm.fadeOut();
		    $preloader.delay(500).fadeOut('slow');
		});
	</script>
	<script>
		$( window ).resize(function() {
			let width = $(window).width();
		});
		$(window).scroll(function() {
			let height = $(window).height();
			if ($(window).resize() > 768) {
				height = 0.5 * height;
			} else {
				height = 0.3 * height;
			};
			if ($(this).scrollTop() > height) {  
				$('nav').addClass("sticky");
				$('a.navbar-brand').addClass('brand-custom');
				$('img.img-brand').addClass('img-custom');
			}  else{
				$('nav').removeClass("sticky");
				$('a.navbar-brand').removeClass('brand-custom');
				$('img.img-brand').removeClass('img-custom');
			};
		});
	</script>
<!-- 	<script type="text/javascript">
		$('#history').on('click', function() {
			// let button = $('a.history');
			// button.html('<div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div>');
			$.ajax({
				url: ,
				type: 'POST',
				dataType: 'json',
				success: function(json) {
					if ( json.message) {
						let doc = $.parseHTML(json.message);
						$('#votes_list').html(json.message);
						console.log('ok');
						// button.empty();
						// button.append('История')
					}
					// } else {
					// 	$('#votes_list').html(json.message);
					// 	console.log('something gone wrong')
					// }
				},
				failure: function(json) {
					alert(json.message);
				},

				error: function() {
					$('#votes_list').html('Простите, произошла ошибка. Повторите попытку позже.');
					console.log('ERROR');
					// button.empty();
					// button.append('История');
				},
			});
		})
	</script> -->
	<script type="text/javascript">
		
	</script>

	<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
	<script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>