{% extends 'base_2.html' %}

{% block title %}
Места - {{ block.super }}
{% endblock %}

{% block content %}
	<div class="card-columns mt-3">
	{% for candidat in candidats %}
		<div class="card">
			<img src="{{ candidat.image.url }}" class="card-img-top" alt="{{ candidat.name }}">
			<div class="card-body">
				<h5 class="card-title">{{ candidat.name }}</h5>
				<p class="card-text">{{ candidat.move|truncatewords:15 }}</p>
				<h5 class="mb-3 text-center">Количество голосов: {{ candidat.votes }}</h5>
			</div>
		</div>
	{% endfor %}
	</div>
{% endblock %}